# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Java5\SpringMVC_SD17316\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
